body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* ESTILOS DEL HEADER */


header {
  background-color: #ff3b3c;
  /* border: 1px solid red; */
  height: 152px;
}

.search {
  padding-top: 30px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search .form {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.search .form input {
  height: 62px;
  border-radius: 14px;
  border: none;
  width: 505px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.search .social ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search .social ul li {
  padding: 0 10px;
  color: #fff;
  font-size: 28px;
}
.nav {
  padding: 10px 0;
  margin: 15px 30px;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav ul li a {
  color: white;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: underline;
}

/* PRODUCTOS */

#hero {
  background: url("../assets/hero_bg.png");
  background-size: cover;
  background-position: top center;
  height: 180px;
}

#hero-container{
  display: flex;
}

.title-container {
  align-self: center;
}

.title-container span {
  display: block;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  font-weight: bold;
}

.title-container span:first-child {
  font-size: 30px;
}

.title-container span:last-child {
  font-size: 80px;
  line-height: 80px;
}

main {
  /* border: 1px solid blue; */
  height: auto;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  /* border: 1px solid springgreen; */
  height: inherit;
  min-height: inherit;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
}

.product-price-block {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
  align-items: center;
}

.product-card {
  background-color: #f0f0f0;
  border-radius: 14px;
  overflow: hidden;
  background-color: #f0f0f0;
  width: auto;
}

.product-info {
  padding: 20px;
  box-sizing: border-box;
}

.product-title {
  display: block;
  font-size: 22px;
  word-wrap: break-word;
  line-height: 22px;
}

.product-description {
  font-size: 12px;
  font-weight: lighter;
  color: #009145;
  margin-bottom: 6px;
}

.product-tax-policy {
  font-size: 10px;
  font-weight: lighter;
}

.product-price-block .price {
  font-size: 22px;
  font-weight: 700;
  flex: 1;
}
.product-price-block .discount {
  font-size: 12px;
  font-weight: 700;
  color: #428f13;
}
.product-container {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.product-container a{
  text-decoration: none;
  color: initial;
  border: 1px solid #91919128;
}

/* Estilos específicos para la página de favoritos */
body.favorites-page .product-container {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

body.favorites-page .product-container .product-card {
  position: relative;
  /* border: 1px solid #91919128; */
}

body.favorites-page .product-container .product-link {
  text-decoration: none;
  color: initial;
  display: block;
}

body.favorites-page .remove-favorite {
  font-size: 20px;
  border: none;
  background: none;
  color: #FF3B3C;
  cursor: pointer;
  padding: 0; /* Elimina el padding del botón */
  transition: transform 0.2s ease;
}

body.favorites-page .remove-favorite:hover {
  color: #cc0000;
}

body.favorites-page .product-info{
  margin-bottom: 5px; /* Reduce el espacio debajo de la información del producto */
}

body.favorites-page .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 5px; /* Reduce el padding superior e inferior */
}



/* ================================================================= */

.cart-product-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* height: 500px; */
  padding: 50px 0px;
}

#cartproducts{
  /* border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
}

.cartProductDetails {
  display: flex;
  flex-direction: row;
  background-color: #F1F3F4;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: 40px;
}


.cartProductDetails img{
  border-radius: 5px;
  height: 100px;
  margin-right: 20px;
}

.cartProductResumen{
  background-color: #F1F3F4;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.subtotalPrice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-cart {
  display: flex;
  flex-direction: column;
}

.add-cart p{
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
}

.add-cart button{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #ff3b3c;
  color: #fff;
}

.inputResumenCart input{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  border: 0;
  
} 

.inputResumenCart {
  margin-top: 10px;
}

#bold {
  font-weight: 800;
}

.precio{
  display: flex;
  align-self: center;
  
  margin-left: 50px;
}

.resumenPedidos{
  width: 300px;
}

.favoriteIcon{
  font-size: 25px;
    color: red;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.favoriteIcon:hover{
  cursor: pointer;
}


/*CARRITO DE COMPRAS VENTA FINAL*/

.productlistcart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.productlistcart p{
  font-size: 15px;
}
  

/* FOOTER */
footer {
  /* border: 1px solid #009145; */
  /* Hexadecimal color code*/
  min-height: 368px;
  background-color: #7525a7;
}
footer .container {
  display: flex;
  flex-direction: column;
}
.columns-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.columns-container .col ul {
  list-style-type: none;
  padding: 0;
}
.columns-container .col ul li {
  padding: 5px 0;
}
.columns-container .col ul li.col-main-item {
  font-weight: bold;
  padding-bottom: 20px;
}
.columns-container .col ul li a {
  color: white;
  text-decoration: none;
}
.copyright {
  border-top: 1px solid #ba53fb;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 30px 0;
  box-sizing: border-box;
}


/* RESPONSIVO */

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */

  .product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .search .form input {
    width: 100px;
  }
  .columns-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 20px;
  }

  #cartproducts{
    flex-direction: column;
  }
  .cartProductResumen{
    margin-top: 50px;
  }
}
